<m-graph [model]="_stepDurationGraphModel" class="_stepDurationGraphModel"></m-graph>
<m-graph [model]="_successRateCustomerGraphModel" class="_successRateCustomerGraphModel"></m-graph>
<m-graph [model]="_successRateCCGraphModel" class="_successRateCCGraphModel"></m-graph>
<m-graph [model]="_customerProfileGraphModel" class="_customerProfileGraphModel"></m-graph>
<m-sparkline-graph class="_successRateMarketGraphModel">
    <table class="m-sparkline-graph__table">
        <thead>
        <tr>
            <th>State</th>
            <th>Income</th>
            <th>Income per quarter</th>
            <th>Costs</th>
            <th>Costs per quarter</th>
            <th>Result</th>
            <th>Result per quarter</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Alabama</th>
            <td>254</td>
            <td data-sparkline="71, 78, 39, 66 "></td>
            <td>296</td>
            <td data-sparkline="68, 52, 80, 96 "></td>
            <td>-42</td>
            <td data-sparkline="3, 26, -41, -30 ; column"></td>
        </tr>
        <tr>
            <th>Alaska</th>
            <td>246</td>
            <td data-sparkline="87, 44, 74, 41 "></td>
            <td>181</td>
            <td data-sparkline="29, 54, 73, 25 "></td>
            <td>65</td>
            <td data-sparkline="58, -10, 1, 16 ; column"></td>
        </tr>
        <tr>
            <th>Arizona</th>
            <td>101</td>
            <td data-sparkline="56, 12, 8, 25 "></td>
            <td>191</td>
            <td data-sparkline="69, 14, 53, 55 "></td>
            <td>-90</td>
            <td data-sparkline="-13, -2, -45, -30 ; column"></td>
        </tr>
        <tr>
            <th>Arkansas</th>
            <td>303</td>
            <td data-sparkline="81, 50, 78, 94 "></td>
            <td>76</td>
            <td data-sparkline="36, 15, 14, 11 "></td>
            <td>227</td>
            <td data-sparkline="45, 35, 64, 83 ; column"></td>
        </tr>
        <tr>
            <th>California</th>
            <td>200</td>
            <td data-sparkline="61, 80, 10, 49 "></td>
            <td>217</td>
            <td data-sparkline="100, 8, 52, 57 "></td>
            <td>-17</td>
            <td data-sparkline="-39, 72, -42, -8 ; column"></td>
        </tr>
        <tr>
            <th>Colorado</th>
            <td>118</td>
            <td data-sparkline="13, 48, 21, 36 "></td>
            <td>273</td>
            <td data-sparkline="98, 86, 8, 81 "></td>
            <td>-155</td>
            <td data-sparkline="-85, -38, 13, -45 ; column"></td>
        </tr>
        <tr>
            <th>Connecticut</th>
            <td>201</td>
            <td data-sparkline="6, 64, 44, 87 "></td>
            <td>148</td>
            <td data-sparkline="60, 13, 73, 2 "></td>
            <td>53</td>
            <td data-sparkline="-54, 51, -29, 85 ; column"></td>
        </tr>
        <tr>
            <th>Delaware</th>
            <td>161</td>
            <td data-sparkline="7, 27, 49, 78 "></td>
            <td>298</td>
            <td data-sparkline="19, 90, 100, 89 "></td>
            <td>-137</td>
            <td data-sparkline="-12, -63, -51, -11 ; column"></td>
        </tr>
        <tr>
            <th>District of Columbia</th>
            <td>106</td>
            <td data-sparkline="18, 39, 27, 22 "></td>
            <td>185</td>
            <td data-sparkline="62, 97, 24, 2 "></td>
            <td>-79</td>
            <td data-sparkline="-44, -58, 3, 20 ; column"></td>
        </tr>
        <tr>
            <th>Florida</th>
            <td>249</td>
            <td data-sparkline="51, 24, 90, 84 "></td>
            <td>244</td>
            <td data-sparkline="47, 40, 74, 83 "></td>
            <td>5</td>
            <td data-sparkline="4, -16, 16, 1 ; column"></td>
        </tr>
        </tbody>
    </table>
</m-sparkline-graph>
<m-graph [model]="_journeysStatsGraphModel" class="_journeysStatsGraphModel"></m-graph>
<m-graph [model]="_activityByJourneyTypeGraphModel" class="_activityByJourneyTypeGraphModel"></m-graph>
<m-graph [model]="_inboundActivityGraphModel" class="_inboundActivityGraphModel"></m-graph>
<m-graph [model]="_journeysLifecycleGraphModel" class="_journeysLifecycleGraphModel"></m-graph>
<m-graph [model]="_databaseActivityGraphModel" class="_databaseActivityGraphModel"></m-graph>