<h3>Pipe example</h3>

<div>{{time | date:'hh:mm'}} {{time | date:'dd/MM/yyyy'}}</div>


<input type="text" [(ngModel)]="filterString">

<p *ngFor="let member of family | custom:filterString; let i = index">
    {{i}} {{member.name}}
</p>

<h3>Custom pipe</h3>
<ul>
   <li *ngFor="let file of files$ | async">
       {{file?.name}}
       {{file?.size | filesize: "Mb"}}
   </li>
</ul>

<h3>Pipe as provider</h3>
<ul>
   <li *ngFor="let file of filesPipeAsProvider">
       {{file?.name}}
       {{file?.size}}
   </li>
</ul>

{{"impure pipe" | impure}}
