<h3>m-form</h3>

<!--#myNgForm="ngForm" тут myNgForm - ссылка на контроллер формы-->
<form class="m-form"
        novalidate
        #myNgForm="ngForm"
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
>
     <t-field
            [fieldLabel]="'Name'"
            formControlName="name"
            [isRequired]="true"
    ></t-field>

    <div style="color: red" *ngIf="_getErrorText('name') && !myForm.controls.name.untouched">{{_getErrorText('name')}}</div>

    <t-field
            [fieldLabel]="'Surname'"
            formControlName="surname"
            [isRequired]="true"
    ></t-field>

    <div style="color: red" *ngIf="_getErrorText('surname') && !myForm.controls.surname.untouched">{{_getErrorText('surname')}}</div>

    <div>
        Age:
        <input formControlName="age" type="text" inputmode="numeric" pattern="[0-9]*">
    </div>

    <t-field
            [fieldLabel]="'Phone'"
            formControlName="phone"
    ></t-field>

    <div formGroupName="nested">
        <t-field
                [fieldLabel]="'Email'"
                formControlName="email"
        ></t-field>
    </div>

    <div formArrayName="dynamicFields">
        <h3>Dynamically added fields</h3>

        <div style="display: flex;flex-wrap: wrap">
            <div style="margin: 0 30px 30px 0" *ngFor="let control of _dynamicFields?.controls; let i = index;">
                <t-field
                    [fieldLabel]="'Dynamic text field'"
                    [formControlName]="i"
                ></t-field>
                <div style="cursor: pointer;margin-right: 10px;"
                     (click)="_removeField(i)"
                >Remove</div>
                <div style="cursor: pointer;margin-right: 10px;"
                     (click)="disableControl(_dynamicFields?.controls[i])"
                >Disable</div>
                <div style="cursor: pointer;"
                     (click)="enableControl(_dynamicFields?.controls[i])"
                >Enable</div>
            </div>
        </div>
    </div>

    <div *ngIf="myForm?.invalid && !myForm?.pristine" class="m-form__error _margin-top-m">
        Form is invalid
    </div>

    <button type="submit" class="m-form__submit" [disabled]="!myForm.valid">Submit</button>
    <button type="button" class="m-form__submit" (click)="_patchValue()">patch</button>
    <button type="button" class="m-form__submit" (click)="_resetForm()">reset</button>
    <button type="button" class="m-form__submit" (click)="_addField()">Add field</button>
</form>

myNgForm.valid {{myNgForm.valid}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; myNgForm.dirty {{myNgForm.dirty}}
<p>formModel: {{myForm.value | json}}</p>

