<div class="m-grid-example__container _base">
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
</div>

<div class="m-grid-example__container _resize">
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
</div>

<div class="m-grid-example__container _fr-px-percentage">
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
    <div class="m-grid-example__column">Column</div>
</div>

<div class="m-grid-example__container _named">
    <div class="m-grid-example__column _named-header">header</div>
    <div class="m-grid-example__column _named-main">main content Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Architecto, error esse id molestias pariatur tempore vero. Fuga in minus quibusdam sed! Atque illum modi
        nisi, reiciendis saepe ullam. Cum, possimus?
    </div>
    <div class="m-grid-example__column _named-sidebar">sidebar</div>
    <div class="m-grid-example__column _named-footer">footer</div>
</div>

<div class="m-grid-example__container _named-gap">
    <div class="m-grid-example__column _named-header">header</div>
    <div class="m-grid-example__column _named-main">main content Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Architecto, error esse id molestias pariatur tempore vero. Fuga in minus quibusdam sed! Atque illum modi
        nisi, reiciendis saepe ullam. Cum, possimus?
    </div>
    <div class="m-grid-example__column _named-sidebar">sidebar</div>
    <div class="m-grid-example__column _named-footer">footer</div>
</div>

<div class="m-grid-example__container _align-items">
    <div class="m-grid-example__column _named-content1">Content</div>
    <div class="m-grid-example__column _named-content2">Content</div>
    <div class="m-grid-example__column _named-content3">Content</div>
    <div class="m-grid-example__column _named-content4">Content</div>
    <div class="m-grid-example__column _named-content5">Content</div>
    <div class="m-grid-example__column _named-content6">Content</div>
    <div class="m-grid-example__column _named-content7">Content</div>
    <div class="m-grid-example__column _named-content8">Content</div>
    <div class="m-grid-example__column _named-content9">Content</div>
</div>

<div class="m-grid-example__container _justify-items">
    <div class="m-grid-example__column _named-content1">Content</div>
    <div class="m-grid-example__column _named-content2">Content</div>
    <div class="m-grid-example__column _named-content3">Content</div>
    <div class="m-grid-example__column _named-content4">Content</div>
    <div class="m-grid-example__column _named-content5">Content</div>
    <div class="m-grid-example__column _named-content6">Content</div>
    <div class="m-grid-example__column _named-content7">Content</div>
    <div class="m-grid-example__column _named-content8">Content</div>
    <div class="m-grid-example__column _named-content9">Content</div>
</div>

<div class="m-grid-example__container _grid">
    <div class="m-grid-example__column _named-content1">Content</div>
    <div class="m-grid-example__column _named-content2">Content</div>
    <div class="m-grid-example__column _named-content3">Content</div>
    <div class="m-grid-example__column _named-content4">Content</div>
    <div class="m-grid-example__column _named-content5">Content</div>
    <div class="m-grid-example__column _named-content6">Content</div>
    <div class="m-grid-example__column _named-content7">Content</div>
    <div class="m-grid-example__column _named-content8">Content</div>
    <div class="m-grid-example__column _named-content9">Content</div>
</div>



