.m-grid {

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        border: 1px solid green;
    }

    &__row {
        display: flex;

        &+& {
            margin-top: 20px;
        }
    }

    &__item {
        position: absolute;
        border: 1px solid;
    }

}
