<h3>Component with directive
    <span tooltip="Here u can see directives"
        #myTooltip="tooltip"
        (mouseenter)="myTooltip.show()"
        (mouseleave)="myTooltip.hide()"
    >
        [?]
    </span>
</h3>

<input type="text" [(ngModel)]="value" simple-log> {{value}}

<p ngNonBindable>I can see {{this is not interpolated}}</p>

<p [custom-directive]="options">Custom directive</p>

Список через *myFor
<ul>
    <li *myFor="let item of items; let i = index">{{item}}</li>
</ul>

<ul>
    <ng-template myFor [myForOf]="items" let-item let-i="index">
        <li>
            {{item}}
        </li>
    </ng-template>
</ul>
