<!--<div class="page-loader"-->
     <!--[class._loading]="pageLoaderService.pageLoading"-->
     <!--[class._loading-start]="pageLoaderService.pageLoadingStart"-->
<!--&gt;</div>-->


<!--Это проперти добавил через @Optional(), см. контроллер и провайдеры в модуле-->
<!--{{optionalPropery}}-->

<nav class="nav">
    <a class="nav__link" routerLink="/home" routerLinkActive="_active">Home</a>
    <a class="nav__link" routerLink="/typescript" routerLinkActive="_active">Typescript</a>
    <a class="nav__link" routerLink="/css" routerLinkActive="_active">Css</a>
    <a class="nav__link" routerLink="/framework" routerLinkActive="_active">Angular framework</a>
    <a class="nav__link" routerLink="/components" routerLinkActive="_active">Components</a>
    <a class="nav__link" routerLink="/http" routerLinkActive="_active">Http</a>
    <a class="nav__link" routerLink="/forms" routerLinkActive="_active">Forms</a>
    <a class="nav__link" routerLink="/admin" routerLinkActive="_active">Admin</a>
    <a class="nav__link" routerLink="/router" routerLinkActive="_active">Router</a>
    <a class="nav__link" routerLink="/lazy" routerLinkActive="_active">Lazy</a>
    <a class="nav__link" routerLink="/protected-lazy" routerLinkActive="_active">Protected Lazy</a>
    <a class="nav__link" routerLink="/rxjs" routerLinkActive="_active">Rxjs</a>
    <a class="nav__link" routerLink="/my-store" routerLinkActive="_active">MyStore</a>
    <a class="nav__link" routerLink="/my-redux-store" routerLinkActive="_active">MyReduxStore</a>
    <a class="nav__link" routerLink="/redux" routerLinkActive="_active">Redux</a>
    <a class="nav__link" routerLink="/ngrx" routerLinkActive="_active">Ngrx</a>
</nav>

<main class="main" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet" (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
</main>

<!--сюда буду рендерить динамический компонент-->
<ng-template #dynamicComponent></ng-template>

