<h3>Ellipsis</h3>

<div [ellipsis]="18">
    Threeeeeeeeeeeeeeeeeeeeeeeeeeeeee loooooooooooooooooooooooooooooooooooooooooooooooooong wooooooooooooooooooooooooooooooooooooooord
</div>

<div [ellipsis]="18">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque labore modi officia porro quis quos repellat sit unde vel? Aperiam consequatur illum laboriosam libero officia. Ad aut ducimus ea, exercitationem fuga labore nihil pariatur quas! Blanditiis commodi dignissimos odit praesentium!
</div>

<div [ellipsis]="36">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eaque labore modi officia porro quis quos repellat sit unde vel? Aperiam consequatur illum laboriosam libero officia. Ad aut ducimus ea, exercitationem fuga labore nihil pariatur quas! Blanditiis commodi dignissimos odit praesentium!
</div>

{{getValue()}}