<div id="goToSmoothScrollLink" #divElement>Smooth Scroll id</div>

<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

<div class="css__block">
    <p class="css__paragraph">Button default styles</p>
    <button type="button" class="css__button-default">Button</button>
</div>

<div class="css__block">
    <p class="css__paragraph">Gradient that works in Safari. Use Rgba instead transparent</p>
    <div class="css__safari-gradient">Gradient</div>
</div>

<div class="css__block">
    <p class="css__paragraph">Sticky</p>
    <div class="css__sticky-container">
        <div class="css__sticky">Sticky</div>
    </div>
</div>

<div class="css__block">
    <p class="css__paragraph">Image max-width</p>
    <img src="../../../assets/themes/base/images/other-images/panda-splash.png" class="css__img-max-width">
</div>

<div class="css__block">
    <p class="css__paragraph">Font with Interactive HTML Elements: input, button, select, textarea</p>
    <div class="css__custom-font">
        <input type="text" placeholder="placeholder">
        <button type="button">Button</button>
        <select name="" id="">
            <option value="">Option 1</option>
            <option value="">Option 2</option>
            <option value="">Option 3</option>
        </select>
        <textarea name="" cols="30" rows="10">Textarea</textarea>
    </div>
</div>

<div class="css__block">
    <p class="css__paragraph">Simple script to fined out why scroll is on the page</p>
    <div [innerHTML]="scrollFindingSnippet"></div>
</div>

<div class="css__block">
    <p class="css__paragraph">Object fit - вне зависимости от размеров на теге img задает правильный ratio для изображения (типо background-size в случае background image)</p>
    <img src="../../../assets/themes/base/images/other-images/panda-splash.png" width="200" height="100"  class="css__object-fit">
</div>

<div class="css__block">
    <p class="css__paragraph">Smooth scrolling</p>
    <a (click)="onSmoothScrollLinkClick($event, divElement)" href="#goToSmoothScrollLink">Go to link</a>
</div>

<div class="css__block">
    <p class="css__paragraph">Center element</p>
    <div class="css__center-parent">
        <div class="css__center-child">Centered block</div>
    </div>
</div>

<div class="css__all">
    <p class="css__paragraph">Css all</p>
    <button class="css__all-button">Some button</button>
</div>

<div class="css__current-color">
    <p class="css__paragraph">Css CurrentColor</p>
    <div class="css__current-color-wrapper">
        <div class="css__current-color-block">Some block with current color</div>
    </div>
</div>
