<h3>Parent Component</h3>

<input type="text" [(ngModel)]="inputValue"> {{inputValue}}

<p *ngIf="inputValueFromInnerComponent">Current color: {{inputValueFromInnerComponent}}</p>


<br /><button class="button" (click)="child.start()">Start child component</button>
<br /><button class="button" (click)="child.stop()">Stop child component</button>
<br /><button class="button" (click)="childStart()">Start child component via @viewChild </button>
<br /><button class="button" (click)="childStop()">Stop child component via @viewChild</button>

<!--с помощью #child могу локально вызывать в родителе методы и свойства чайлда.-->
<child-component [functionInput]="functionForChild" (valueFromParentChange)="parentValue = $event"  [valueFromParent]="parentValue" [inputValue]="inputValue" (onClickOutput)="inputValueFromInnerComponent=$event" #child></child-component>

<child-component></child-component>
<child-component></child-component>
<child-component></child-component>

<button #button *ngFor="let item of [1,2,3]"></button>