<h1 style="text-align:center;">Rxjs</h1>

<!--<rx-js></rx-js>-->

<!--<rxjs-example></rxjs-example>-->

<nav class="nav">
    <a class="nav__link" routerLink="rx-js-async-pipe" routerLinkActive="_active">Async pipe</a>
    <a class="nav__link" routerLink="rx-js" routerLinkActive="_active">Rx-js</a>
    <a class="nav__link" routerLink="rxjs-example" routerLinkActive="_active">Rxjs-example</a>
    <a class="nav__link" routerLink="rxjs-example1" routerLinkActive="_active">Rxjs-example1</a>
</nav>

<section class="rxjs-section" [@routerTransition]="getState(rxjsOutlet)">
    <router-outlet #rxjsOutlet="outlet"></router-outlet>
</section>

<!--<h2 style="text-align:center;">Ngrx</h2>-->

<!--<div style="margin-bottom: 20px;">-->
    <!--<ngrx-dispatch></ngrx-dispatch>-->
<!--</div>-->

<!--<div>-->
    <!--<ngrx-subscribe></ngrx-subscribe>-->
<!--</div>-->
