<h3>Пример загрузки списка</h3>

<ng-template #loading>
    <m-loader
        style="position: fixed; top: 30px; left: 30px;"
        [isActive]="true"
        [text]="progress"
    ></m-loader>
</ng-template>

<div style="display: flex;flex-wrap: wrap">
<p>Основной</p>
<ng-container *ngIf="(family$ | async) as family; else loading">
    <ul>
        <li *ngFor="let member of family">
            {{member?.name}} - {{member?.age}}
        </li>
    </ul>
</ng-container>

<p>Такой же хороший</p>
<ul *ngIf="(family$ | async) as family; else loading">
    <li *ngFor="let member of family">
        {{member?.name}} - {{member?.age}}
    </li>
</ul>

<p>Похуже</p>
<ul>
    <li *ngFor="let member of (family$ | async)">
        {{member?.name}} - {{member?.age}}
    </li>
</ul>

</div>

<h3>Posted data</h3>
<ng-container *ngIf="(postData$ | async) as member; else loading">
    {{member?.name}} - {{member?.age}}
</ng-container>

<h3>Data by ID</h3>
Id : {{dataById$ | async}}



<h3>Пример загрузки файла</h3>
<div class="upload-button">
    <span class="upload-button__text">
        Attach files
    </span>
    <input class="upload-button__input"
           #uploadFilesInput
           type="file"
           name="file"
           multiple
           (click)="uploadButtonClick()"
           (change)="attachFiles(uploadFilesInput.files)"
    >
</div>

<ul>
    <li *ngFor="let file of uploadedFiles">
        <span class="upload-button__text">{{file?.name}}: {{file?.size}} is loaded</span>
    </li>
</ul>

