<h1>Ngrx</h1>


<button type="button" (click)="_increase()">+</button>
<input
    placeholder="multiply by"
    type="number"
    #input
    (change)="_multiplyBy(input)"
>
<input
    placeholder="increase on"
    type="number"
    #input1
    (change)="_increaseOn(input1)"
>
<p>Reducer {{_counter$ | async}}</p>
<p>Selector {{_counterSelector$ | async}}</p>
<p>Route Selector {{_counterRouteSelector$ | async}}</p>
<button type="button" (click)="_decrease()">-</button>

<p>
    <m-ngrx-effects></m-ngrx-effects>
</p>

<a routerLink="products">Go to products</a>

<span style="margin-left: 30px">
    {{ pizzasHint }}
</span>

<router-outlet></router-outlet>
